<div class="container mt-5">
<div class="jumbotron p-4 bg-light rounded">
<h2 class="mb-4">Rejestracja podróży</h2>
<h5 class="mb-5">Sekcja 1: Dane osobowe podróżującego</h5>
  <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
    <div class="row">

      <div class="col-md-6">
          <div class="mb-3">
            <label for="firstName" class="form-label">Imię</label>
            <input id="firstName" formControlName="firstName" class="form-control" />
            <div *ngIf="form.get('firstName')?.invalid && form.get('firstName')?.touched" class="text-danger">
              Imię jest wymagane.
            </div>
          </div>

          <div class="mb-3">
            <label for="lastName" class="form-label">Nazwisko</label>
            <input id="lastName" formControlName="lastName" class="form-control" />
            <div *ngIf="form.get('lastName')?.invalid && form.get('lastName')?.touched" class="text-danger">
              Nazwisko jest wymagane.
            </div>
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">Adres email</label>
            <input id="email" formControlName="email" class="form-control" />
            <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched && form.get('email')?.hasError('required')" class="text-danger">
              Adres email jest wymagany.
            </div>
            <div *ngIf="form.get('email')?.touched && form.get('email')?.hasError('email')" class="text-danger">
              Adres email jest niepoprawny.
            </div>
          </div>

          <div class="mb-3">
            <label for="phone" class="form-label">Numer telefonu</label>
            <input id="phone" formControlName="phone" class="form-control" />
            <div *ngIf="form.get('phone')?.invalid && form.get('phone')?.touched && form.get('phone')?.hasError('required')" class="text-danger">
              Numer telefonu jest wymagany.
            </div>
            <div *ngIf="form.get('phone')?.touched && form.get('phone')?.hasError('pattern')" class="text-danger">
              Numer telefonu jest niepoprawny.
            </div>
          </div>

          <div class="mb-3">
            <label for="pesel" class="form-label">PESEL</label>
            <input id="pesel" formControlName="pesel" class="form-control" />
            <div *ngIf="form.get('pesel')?.touched && form.get('pesel')?.hasError('required')" class="text-danger">
              PESEL jest wymagany.
            </div>
            <div *ngIf="form.get('pesel')?.touched && form.get('pesel')?.hasError('pattern')" class="text-danger">
              PESEL musi zawierać 11 cyfr.
            </div>
          </div>
        </div>

      <div class="col-md-6">
          <div class="mb-3">
            <label for="street" class="form-label">Ulica</label>
            <input id="street" formControlName="street" class="form-control" />
            <div *ngIf="form.get('street')?.invalid && form.get('street')?.touched" class="text-danger">
              Ulica jest wymagana.
            </div>
          </div>

          <div class="mb-3">
            <label for="city" class="form-label">Miasto</label>
            <input id="city" formControlName="city" class="form-control" />
            <div *ngIf="form.get('city')?.invalid && form.get('city')?.touched" class="text-danger">
              Miasto jest wymagane.
            </div>
          </div>

          <div class="mb-3">
            <label for="postalCode" class="form-label">Kod pocztowy</label>
            <input id="postalCode" formControlName="postalCode" class="form-control" />
            <div *ngIf="form.get('postalCode')?.touched && form.get('postalCode')?.hasError('required')" class="text-danger">
              Kod pocztowy jest wymagany.
            </div>

          <div class="mb-3 gap">
            <label for="country" class="form-label">Kraj</label>
            <select id="country" formControlName="country" class="form-select">
              <option value="" selected disabled>Wybierz kraj</option>
              <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
            </select>
            <div *ngIf="form.get('country')?.invalid && form.get('country')?.touched" class="text-danger">
              Kraj jest wymagany.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center mt-4">
      <div class="col-auto">
        <button 
          type="button" 
          class="btn btn-secondary" 
          style="width:100px;" 
          (click)="goBack()">
          Cofnij
        </button>
      </div> 
      
      <div class="col-auto">
        <button 
          type="submit" 
          class="btn btn-primary"
          style="width:100px;">
          Zatwierdź
        </button>
      </div>

    </div>
  </form>
</div>
</div>
